/*Style sheet for the index and documentation files*/

/*Styling for the navigation bar */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1bc437;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 20px;
  }
  
  li a:hover {
    background-color: #111;
  }

  /*This is the styling for the header text */
  h1 {
      font-family: Verdana, sans-serif;
      text-align: center;
      color:#000000 ;
      font-size: 40px;
     
  }

  h2 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
   
}

h1 text1{
  font-size: 20px;
}
h2 text1{
  font-size: 18px;
}
p{
  font-size: 25px;
  margin-right: 150px;
  margin-left:150px;
  text-align: left;
}


  /*This is the styling for the footer */
  footer {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    padding: 1px;
    padding-left: 6px;
    background-color: #1bc437;
    color: rgb(0, 0, 0);
  }
  footer a{
    color: rgb(0, 0, 0);
  }
  footer p{
    font-size: 20px;
    text-align: center;
  }

  