/*This is the style sheet used for the index and documentation files */


/*This is the styling for the navigation bar */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 24px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
  li a:hover {
    background-color: #111;
  }

  #logo {
    float: left;
    width: 62px;
    padding: 4px;
  }

  /*This is the styling for the header text */
  h1 {
      font-family: Arial, sans-serif;
      text-align: center;
      color:#6441a5 ;
      font-size: 34px;
     
  }

  h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 34px;
   
}

h1 text1{
  font-size: 20px;
}
h2 text1{
  font-size: 18px;
}
p{
  font-size: 25px;
  margin-right: 150px;
  margin-left:150px;
  text-align: left;
}


  /*This is the styling for the footer */
  footer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    padding: 1px;
    padding-left: 6px;
    background-color: #333;
    color: white;
  }
  footer a{
    color: white;
  }
  footer p{
    font-size: 16px;
    text-align: center;
  }

  